.container.heading
  %h1 Recipients

.bodycontent
  %section.container

    - if contacts.empty?
      .msg_warning
        You don&rsquo;t have any contacts yet.
        Add some contacts now!
    - else
      .tablewrapper.rindex
        %table
          %tr
            %th
              Contact
            %th(width="50")
              Age
            %th(width="70")
              Gender
            %th(width="130")
              Phone Number
            %th
              State
          - contacts.each do |contact|
            %tr
              %td= contact.name
              %td= contact.age
              %td= contact.gender
              %td= contact.phone
              %td= contact.state
