= form_for campaign, html: { class: 'addcampaign' } do |f|
  %dl.marginright
    %dt= f.label :name, "Campaign Name"
    %dd= f.text_field :name
  %dl
    %dt= f.label :postback_url, "Postback URL"
    %dd= f.text_field :postback_url
  %dl.clear
    %dt= f.label :message
    %dd= f.text_area :message

  %section.addrecipients
    %h1 Add Recipients to this Campaign

    .filter
      %h2 Filter Recipients

      %ul
        %li
          = f.label :state
          = f.select :state, US_STATES

  .savecancel
    = f.submit "Save", class: 'save'
    %input(type="reset" value="Reset" class="cancel" value="Cancel")
