= page_heading do
  %h1 Campaigns
  =link_to("Create a Campaign", new_campaign_path, class: "addbutton")

= page_body do

  = render "layouts/shared_flash"

  .tablewrapper
    %table
      %tr
        %th
          Campaign
        %th
          Created
        %th
      - campaigns.each do |campaign|
        %tr
          %td= link_to campaign.name, edit_campaign_path(campaign)
          %td= campaign.created_at.strftime("%m/%d/%Y")
